<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="#{title}">Integral Calculator</title>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<header th:text="#{title}"> Integral Calculator</header>
<body>
<main>
    <div class="container">
        <div class="main-wrapper">
            <div class="item">
                <form action="/integrate" method="post">
                    <section class="container">
                        <table class="function">
                            <tbody>
                            <tr>
                                <td style="text-align:center">
                                    <br><label for="b"></label><input class="board-input-size" type="number" id="b"
                                                                      th:placeholder="${numFrom}" name="numFrom">
                                    <br><span style="text-align:center;font-size:3em">∫</span>
                                    <br><label for="a"></label><input class="board-input-size" type="number" id="a"
                                                                      th:placeholder="${numTo}" name="numTo">
                                </td>
                                <td>
                                    <div class="input-group"><label for="fx"></label><input type="text" id="fx"
                                                                                            required=""
                                                                                            th:placeholder="${function}"
                                                                                            class="form-control keyboardInput
                                                                                            function-input-size"
                                                                                            name="function"><span
                                            class="input-group-addon">dx</span></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn" type="submit" th:text="#{calculate}">
                            Calculate
                        </button>

                        <br>
                        <div class="results">
                            <p style="font-size: 1.5em;" th:text="#{spline.result}">Spline result:</p>
                            <p class="result-trap" th:text="${splineResult}"></p>
                            <p th:text="#{rectangle.result}">Rectangle result:</p>
                            <p class="result-rect" th:text="${rectangleResult}"></p>
                            <p th:text="#{trapezoidal.result}">Trapezoidal result:</p>
                            <p class="result-trap" th:text="${trapezoidalResult}"></p>
                            <p th:text="#{simpson.rule.result}">Simpson Rule result:</p>
                            <p class="result-trap" th:text="${simpsonRuleResult}"></p>
                            <p th:text="#{parabolas.result}">Parabolas result:</p>
                            <p class="result-trap" th:text="${parabolasResult}"></p>
                        </div>
                    </section>
                </form>
            </div>

            <div class="item">
                <div>
                    <p th:text="#{language}">Change language:</p>
                    <div class="localization" th:if="${#locale.toString() == 'uk_UK'}">
                        <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}">
                            <i>EN</i>
                        </a>
                    </div>
                    <div class="localization" th:if="${#locale.toString() == 'en_US'}">
                        <a th:href="@{${#httpServletRequest.requestURI}(lang='uk_UK')}">
                            <i>UA</i>
                        </a>
                    </div>
                </div>
                <i th:text="#{note}">Note : the number "pi" (π) is written as 3.14</i><br>
                <i th:text="#{example.expressions}">Examples of the correct recording of some expressions</i><br>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td><img class="img-online" src="/img/example1.gif" alt=""></td>
                        <td><kbd>sqrt(6-x)</kbd></td>
                    </tr>
                    <tr>
                        <td><img class="img-online" src="/img/example2.gif" alt=""></td>
                        <td><kbd>(6+2*x)^(1/3)</kbd></td>
                    </tr>
                    <tr>
                        <td><img class="img-online" src="/img/example3.gif" alt=""></td>
                        <td><kbd>(2/3+x^2)/(x^3+x)</kbd></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
